:root {
    --primary-bg: rgb(102, 7, 7);
    --primary-text: rgb(167, 167, 167);
    --secondary-bg: rgb(34, 9, 9);
    --secondary-text: rgb(149, 94, 94);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.btn {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border: 2px solid var(--secondary-bg);
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 100ms;
}

.btn:hover {
    background-color: rgb(153, 3, 3);
}

.btn:active {
    background-color: rgb(34, 0, 0);
}

.navLink {
    margin: 0 0 0 14px;
    color: var(--secondary-text);
    transition: all 100ms;
}

.navLink:hover {
    color: rgb(161, 126, 126);
}

.navLink:active {
    color: rgb(119, 79, 79);
}

#header {
    padding: 1vw 2vw;
    background-color: var(--secondary-bg);
}

@media (max-width: 700px) {
    .navLink {
        display: none;
    }
}