:root {
    --primary-bg: rgb(102, 7, 7);
    --primary-text: rgb(167, 167, 167);
    --secondary-bg: rgb(34, 9, 9);
    --secondary-text: rgb(149, 94, 94);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.prim-bg {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.sec-bg {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.logo {
    border-radius: 20px;
}

.btn {
    border: 2px solid var(--secondary-bg);
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 100ms;
}

.btn:hover {
    background-color: rgb(153, 3, 3);
}

.btn:active {
    background-color: rgb(34, 0, 0);
}

.nav-link {
    transition: all 100ms;
}

.nav-link:hover {
    color: rgb(161, 126, 126);
}

.nav-link:active {
    color: rgb(119, 79, 79);
}

.ml-14 {
    margin: 0 0 0 14px;
}

.mu-2 {
    margin: 2px 0 0 0;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 700px) {
    .hide-mobile {
        display: none;
    }

    #footer {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }
}